{% extends "master.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block content %}
    <h1>SHOPPING CART</h1>
    {% if count == 0 or count == 1 %}
        <p>{{ count }} item</p>
    {% else %}
        <p>{{ count }} items</p>
    {% endif %}

    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL PRICE</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td><a href="{% url 'details' item.product_id %}"><img src="{{ item.image.url }}" alt="{{ item.goodsname }}" width="100"></a></td>
                        <td>{{ item.product_name }}</td>
                        <td>💡{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>💡{{ item.sum_price }}</td>
                        <td><a href="{% url 'details' item.product_id %}">Change Amount</a></td>
                        <td><a href="{% url 'remove_from_cart' item.product_id %}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'productlist' %}">CONTINUE SHOPPING</a>
        <a href="{% url 'order_summary' %}">CHECKOUT</a>

    {% else %}
        <p>Your shopping cart is empty.</p>
        <a href="{% url 'productlist' %}">CONTINUE SHOPPING</a>
    {% endif %}
{% endblock %}