{% extends "master.html" %}

{% block title %}
    Order Summary
{% endblock %}


{% block content %}
    <h1>Order Summary</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL PRICE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td><a href="{% url 'details' item.product_id %}"><img src="{{ item.image.url }}" alt="{{ item.goodsname }}" width="100"></a></td>
                    <td>{{ item.product_name }}</td>
                    <td>💡{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>💡{{ item.sum_price }}</td>
                    <td><a href="{% url 'details' item.product_id %}">Change Amount</a></td>
                    <td><a href="{% url 'remove_from_cart' item.product_id %}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: 💡{{ total_price }}</p>

    <form method="post" action="{% url 'save_order' %}" name="Address">
        <h3>Address</h3>
        {% csrf_token %}
        <label for="firstname">Firstname: </label>
        <input type="text" name="firstname" required autofocus>

        <label for="lastname">Lastname: </label>
        <input type="text" name="lastname" required autofocus>

        <label for="address">Address: </label>
        <input type="text" name="address" required autofocus>

        <label for="tel">Tel: </label>
        <input type="text" name="tel" required autofocus>

        <input type="submit" value="ORDER">
    </form>

    <a href="{% url 'cart_detail' %}">BACK TO CART</a>
  
{% endblock %}