{% extends "master.html" %}
{% load static %}
{% block title %}
    Product details
{% endblock %}

{% block body %}
    <link rel="stylesheet", href="{% static 'css/product_detail.css' %}">
    <div class="name_product">
        <h1><b>{{ goods.goodsname }}</b></h1>
    </div>
    <div class="product_detail_pic">
        <img src="{{ goods.image.url }}" alt="{{ goods.goodsname }}" width="400">
    </div>
    <div class="text_price">
        <h2>💡{{ goods.price }}</h2>
    </div>

    <form method="post" action="{% url 'add_to_cart' goods.id %}" style="text-align: center;">
        {% csrf_token %}
        <input id="input_amount" type="number" name="integerfield" min="0" value= {{cart_item.quantity}}>
        <input type="submit" value="ADD TO CART">
    </form>

    <div class="text_detail">
        <h3><b>Product Details</b></h3>
        <p>{{ goods.description }}</p>
    </div>

{% endblock %}