{% extends "master.html" %}
{% load static %}
{% block title %}
    Product details
{% endblock %}

{% block content %}
    <link rel="stylesheet", href="{% static 'css/product_detail.css' %}">
    <div class="name_product">
        <h1>{{ goods.goodsname }}</h1>
    </div>
    <div class="product_detail_pic">
        <img src="{{ goods.image.url }}" alt="{{ goods.goodsname }}" width="200">
    </div>
    <h2>💡{{ goods.price }}</h2>

    <form method="post" action="{% url 'add_to_cart' goods.id %}">
        {% csrf_token %}
        <input type="number" name="integerfield" min="0" value= {{cart_item.quantity}}>
        <input type="submit" value="ADD TO CART">
    </form>

    <h3>product details</h3>
    <p>{{ goods.description }}</p>

{% endblock %}