{% extends "master.html" %}
{% load static %}
{% block title %}
    payment
{% endblock %}


{% block content %}
    <link rel="stylesheet", href="{% static 'css/payment_page.css' %}">
    <div class="text-qr">
        <h3>SCAN TO PURCHASE</h3>
    </div>
    {% load static %}

    <div class="qr-pic">
        <img src="{% static '232869_cropped.png' %}">
    </div>
    <div class="QUANTITY">
        <p>QUANTITY : <h2>{{ count }}</h2></p>
    </div>
    <div class="TOTAL">
        <p>TOTAL : <h2>💡{{ total_price }}</h2></p>
    </div>
    <div class="FINISH">
        <a href="{% url 'main' %}">FINISH</a>
    </div>
{% endblock %}