{% extends "master.html" %}
{% load static %}
{% block title %}
    NoMoney shop
{% endblock %}


{% block body %}
    <link rel="stylesheet", href="{% static 'css/productlist_page.css' %}">

    <div class="product-tools">
        <div class="text-product-list">
            <h3>Product List</h3>
        </div>
        
        <form method="POST" action="{% url 'filter' %}">
            {% csrf_token %}
            <!-- filtermin -->
            <input id="minQueryInput" type="number" name="min" placeholder="Min" value={{filtermin}}>
            <input id="maxQueryInput" type="number" name="max" placeholder="Max" value={{filtermax}}>
            <!-- sort -->
            <div class="label">
                <label for="sortby">Sort by:</label>
                <select name="sort" id="sorttype">
                    <option value="nameasc">A - Z</option>
                    <option value="namedsc">Z - A</option>
                    <option value="priceasc">lowest price</option>
                    <option value="pricedsc">highest price</option>
                </select>
            </div>
            <div class="submit">
                <button type="submit">Search</button>
            </div>
            <div class="reset">
                <input type="submit" formmethod="GET" value="Reset">
            </div>
        </form>
    </div>

    <ul>
        {% for x in mygoods %}

            <div class="list-product">
                <img src="{{ x.image.url }}" alt="{{ x.goodsname }}" width="200px" style="margin-top: 10px;"> 
            </div>
            <div class="name-product">
                    <a href="{% url 'details' x.id %}" class="active" style="margin-top: 10px;">{{ x.goodsname }}</a> 
            </div>
            <div class="price">
                    <h3 style="margin-top: 80px; text-align: center;"> 💡{{ x.price }} </h3>
            </div>
            
        </div>
        {% endfor %}
    </ul>

  
{% endblock %}