{% extends "master.html" %}
{% load static %}
{% block title %}
    NoMoney shop
{% endblock %}


{% block content %}
    <link rel="stylesheet", href="{% static 'css/productlist_page.css' %}">

    <div class="text-product-list">
        <h3>Product List</h3>
    </div>

    <form method="POST" action="{% url 'filter' %}">
        {% csrf_token %}
        <!-- filtermin -->
        <div class="text-product-list">
            <h3>Price range</h3>
        </div>
        <input id="minQueryInput" type="number" name="min" placeholder="Min" value={{filtermin}}> - <input id="maxQueryInput" type="number" name="max" placeholder="Max" value={{filtermax}}>
        <!-- sort -->
        <div class="label-searched">
            <label for="sortby">Sort by:</label>
                <select name="sort" id="sorttype">
                    <option value="nameasc">A - Z</option>
                    <option value="namedsc">Z - A</option>
                    <option value="priceasc">lowest price</option>
                    <option value="pricedsc">highest price</option>
                </select>
        </div>
        <div class="submit-searched">
            <button type="submit">Search</button>
        </div>
        <div class="reset-searched">
            <input type="submit" formmethod="GET" value="Reset">
        </div>
    </form>

    <!-- search results -->
    <p>search "{{ keyword }}"</p>
    {% if count == 0 or count == 1 %}
        <p>{{ count }} item</p>
    {% else %}
        <p>{{ count }} items</p>
    {% endif %}

    <ul>
        {% for x in mygoods %}
        <li> <a href="{% url 'details' x.id %}"> <img src="{{ x.image.url }}" alt="{{ x.goodsname }}" width="100"> {{ x.goodsname }} 💡{{ x.price }} </a> </li>
        {% endfor %}
    </ul>
  
{% endblock %}