{% extends "master.html" %}

{% block title %}
    Dashboard: Ordered page/detail
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orderdetail %}
                <tr>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.sum_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'ordered_list' %}">Go Back</a>


{% endblock %}