{% extends "master.html" %}

{% block title %}
    Dashboard: Ordered page/detail
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL PRICE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in orderdetail %}
                <tr>
                    <td><a href="{% url 'details' item.product_id %}"><img src="{{ item.image.url }}" alt="{{ item.goodsname }}" width="100"></a></td>
                    <td>{{ item.product_name }}</td>
                    <td>💡{{ item.price }}</td>
                    <td style="text-align: center;">{{ item.quantity }}</td>
                    <td>💡{{ item.sum_price }}</td>
                    <td><a href="{% url 'details' item.product_id %}">Change Amount</a></td>
                    <td><a href="{% url 'remove_from_cart' item.product_id %}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'ordered_list' %}">Go Back</a>


{% endblock %}